@import "../../../mixins";

.input-container {
  position: relative;
  width: 100%;

  & label {
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s ease-out;
    transform-origin: left;
  }

  & input {
    background-color: transparent;
    color: $primarydark;
    width: 100%;
    border: none;
    border-bottom: 1px solid $primarylight;
    outline: none;

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      border-bottom: 1px solid $primarydark;
    }

    &:focus + label {
      top: -18px;
      left: 0;
      transform: scale(0.7);
    }

    &:valid + label {
      top: -18px;
      left: 0;
      transform: scale(0.7);
    }
  }

  & textarea {
    background-color: transparent;
    color: $primarydark;
    width: 100%;
    border: none;
    border-bottom: 1px solid $primarylight;
    resize: none;
    outline: none;

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      border-bottom: 1px solid $primarydark;
    }

    &:focus + label {
      top: -18px;
      left: 0;
      transform: scale(0.7);
    }

    &:valid + label {
      top: -18px;
      left: 0;
      transform: scale(0.7);
    }
  }
}
