@import "../../../mixins";

.header {
  &__login,
  &__register {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__login {
    background-color: $secondary;
    border: none;
    margin-right: 16px;
    color: $primary;
  }

  &__register {
    background-color: transparent;
    border: 2px solid $secondary;
    color: $secondary;
  }
}
