@import "../../../../../mixins";

.reviews-auth {
  background-color: $primary;
  border-radius: 10px;
  padding: 16px;
  @include flexCenter;
  flex-direction: column;

  @include atMedium {
    flex-direction: row;
  }

  h2 {
    color: white;
    text-align: center;
    margin-bottom: 16px;

    @include atMedium {
      margin-bottom: 0;
    }
  }
}
