@import "../../mixins";

.auth-modal {
  &__blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 101;
    @include flexCenter;
  }

  width: 400px;
  height: 600px;
  background: $secondarylight;
  border: 2px solid $primarydark;
  display: flex;
  flex-direction: column;
  position: fixed;
  border-radius: 15px;
  overflow: hidden;

  &__tabs {
    display: flex;
  }

  &__tab {
    width: 200px;
    height: 50px;
    border: 2px solid $primarydark;
    background-color: white;
    @include flexCenter;

    &--active {
      border: none;
      background-color: $secondarylight;
    }
  }

  &__container {
    padding: 32px 16px;
    @include flexCenter;
    flex-direction: column;
    flex: 1;

    & form {
      width: 100%;
      @include flexCenter;
      flex-direction: column;
    }
  }
}
