@import "../../mixins";

.footer {
  width: 100%;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  flex-direction: column;

  @include atMedium {
    flex-direction: row-reverse;
  }

  &__image-holder {
    @include flexCenter;
    margin-bottom: 8px;

    @include atLarge {
      margin-bottom: 0;
    }
  }

  &__links {
    @include flexCenter;
    flex-direction: column;

    @include atLarge {
      flex-direction: row;
    }
  }

  &__title {
    margin: 0px 32px 8px;

    @include atLarge {
      margin-bottom: 0;
    }
  }

  & img {
    margin-right: 16px;

    @include atLarge {
      filter: grayscale(0.7);
      transition: filter 0.3s;

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  a {
    @include flexCenter;

    &:last-child img {
      margin-right: 0;
    }
  }

  p {
    text-align: center;

    @include atMedium {
      text-align: left;
    }
  }
}
