@import "./components/_reusable/Avatar/avatar";
@import "./components/_reusable/Button/button";
@import "./components/_reusable/Input/input";
@import "./components/_reusable/ProductCard/product-card";
@import "./components/AuthModal/auth-modal";
@import "./components/AuthModal/AuthModalTab/auth-modal-tab";
@import "./components/Footer/footer";
@import "./components/Header/header";
@import "./components/Header/HeaderLoggedIn/header-logged-in";
@import "./components/LoadingIcon/loading-icon";
@import "./components/Page/Error404/error404";
@import "./components/Page/Home/PopularCategories/CategoryCarousel/category-carousel";
@import "./components/Page/Home/PopularCategories/popular-categories";
@import "./components/Page/Home/Promo/promo";
@import "./components/Page/ProductPage/ProductDescription/product-description";
@import "./components/Page/ProductPage/ProductReviews/AddReview/add-review";
@import "./components/Page/ProductPage/ProductReviews/AddReview/AddReviewStars/add-review-stars";
@import "./components/Page/ProductPage/ProductReviews/product-reviews";
@import "./components/Page/ProductPage/ProductReviews/Review/review";
@import "./components/Page/ProductPage/ProductReviews/Review/ReviewRating/review-rating";
@import "./components/Page/ProductPage/ProductReviews/ReviewsAuth/reviews-auth";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 75px;
  flex: 1;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
