@import "./components/LoadingIcon/loading-icon";
@import "./components/Footer/footer";
@import "./components/Header/header";
@import "./components/Page/page";
@import "./components/Page/Home/home";
@import "./components/Header/HeaderLoggedIn/header-logged-in";
@import "./components/Header/HeaderLoggedOut/header-logged-out";
@import "./components/Page/Home/home";
@import "./components/Page/Home/Promo/promo";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
