@import "./components/LoadingIcon/loading-icon";
@import "./components/Footer/footer";
@import "./components/Header/header";
@import "./components/Page/page";
@import "./components/Page/Home/home";
@import "./components/Header/HeaderLoggedIn/header-logged-in";
@import "./components/Header/HeaderLoggedOut/header-logged-out";
@import "./components/Page/Home/home";
@import "./components/Page/Home/Promo/promo";
@import "./components/Page/Home/CategoryItems/category-items";
@import "./components/_reusable/Input/input.scss";
@import "./components/AuthModal/auth-modal.scss";
@import "./components/Page/ProductPage/ProductDescription/product-description";
@import "./components/Page/ProductPage/ProductReviews/product-reviews";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
